!.gitignore
!atpg.tcl
!testresults/logs/log_create_sequential_tests_FULLSCAN_logic_112919154949-513520000

Inca_libs_15_06_19
*.v
*.history
run_fullscan_sim_sdf
testresults/
*.cmd
*.log
runmodus.atpg.tcl
*.pinassign
run_fullscan_sim
tbdata/

